<html>
    <head>
        <!-- In order for this to work without internet access, please install Vue.js: https://vuejs.org/v2/guide/installation.html
            For nice UI, please download Materialize: https://materializecss.com/getting-started.html
        -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Round robin scheduler</title>
    </head>
    <body>
        
        <div id="app">
            <div class="row">
                <div class="col s6">
                    <button type="button" id="toggle-status" v-on:click="toggle_status" class="btn waves-effect waves-light"> 
                        <span v-if="status"> Stop <i class="material-icons">pause</i> </span>
                        <span v-else> Run <i class="material-icons">play_arrow</i> </span>
                    </button>
                </div>
                <div class="col s6">
                    <button type="button" id="reset" v-on:click="reset_all" class="btn waves-effect waves-light">
                        Reset <i class="material-icons">replay</i>
                    </button>
                </div>
            </div>
            <form>
                <div id="new-task" class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" name="name" v-model="name" class="validate">
                        <label for="name">Task name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="duration" type="number" name="duration" v-model="duration"
                            min="30" max=240 class="validate">
                        <label for="duration">Duration (minutes)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button type="button" v-on:click='add_task' class="btn waves-effect waves-light">Add task</button>
                    </div>
                </div>
            </form>
            <div id="task-list">
                <div class="task" v-for="task in tasks">
                    # {{ task.id }} <br>
                    {{ task.name }} <br>
                    {{ task.status ? 'Current task' : 'Pending' }} <br>
                    {{ task.elapsed/task.total | floor }}/{{ task.total }} minutes passed <br>
                    <!-- TODO: Editing is not essential, imo
                    <button v-bind:id="'edit-' + task.id">Edit</button>
                    -->
                    <button v-bind:id="'remove-' + task.id" v-on:click="remove_task">Remove</button>
                </div>
            </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>