<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>Round robin scheduler</title>
    </head>
    <body>
        
        <div id="app">
            <button id="run">Run</button>
            <button id="reset" v-on:click="reset_all"> Reset </button>
            <div id="new-task">
                <label for="name">Task name</label>
                <input id="name" type="text" name="name" v-model="name">
                <label for="duration">Duration (minutes)</label>
                <input id="name" type="number" name="duration" v-model="duration"
                        min="30" max=240>
                <button v-on:click='add_task'>Add task</button>
            </div>
            <div id="task-list">
                <div class="task" v-for="task in tasks">
                    # {{ task.id }} <br>
                    {{ task.name }} <br>
                    {{ task.status ? 'Current task' : 'Pending' }} <br>
                    {{ task.elapsed }}/{{ task.total }} minutes passed <br>
                    <!-- TODO: Editing is not essential, imo
                    <button v-bind:id="'edit-' + task.id">Edit</button>
                    -->
                    <button v-bind:id="'remove-' + task.id">Remove</button>
                </div>
            </div>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>