{% extends 'base.html' %}

{% block header %}
<h1>
    {% block title %}
        Schedulers
    {% endblock %}
</h1>
{% endblock %}

{% block content %}
    {% for scheduler in schedulers %}
        <div class="scheduler">
            <h2><a href=" {{ url_for('scheduler', id=scheduler['id']) }} ">
                Scheduler: {{ scheduler['scheduler_name'] }} 
            </a></h2>
            <div>Elapsed time: {{ scheduler['elapsed_time'] }} </div>
        </div>
    {% endfor %}
{% endblock %}